@model Umamido.Common.RestaurantRowModel[]

@{
    ViewBag.Title = Umamido.Resources.Resources.Order;
}

<div id="hero">
    <div class="hero-content">
        <div class="container">
            <h5 class="">@Umamido.Resources.Resources.ChooseOrder</h5>
            <h1 class="hero-title">@Html.Raw(Umamido.Resources.Resources.HealthyFood)</h1>
        </div>
    </div><!-- .hero-content -->
    <div class="hero-image" style="background: url(images/shop_hero.jpg); background-size: cover; background-position: center center;"></div>
</div><!-- #hero -->

@Html.Action("GoodsPartial", new Umamido.Common.GoodsDisplayInfoModel() { ShowAllRestaurants=true })

<section class="ribbon-sidebar">
    <div id="belise_ribbon-widget-3">
        <div class="container">
            <div class="row"></div>
        </div>
        <div class="ribbon">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 text-center ribbon-content">
                        <h5>@Umamido.Resources.Resources.Subscribe</h5>
                        <h3>@Umamido.Resources.Resources.LearnProposals</h3>
                        <a href="#" class="btn">@Umamido.Resources.Resources.Subscription</a>
                    </div>
                </div>
            </div>
            <div class="ribbon-image" style="background: url(images/subscribe_bgr.jpg); background-size:cover;)"></div>
        </div>
        <div class="container">
            <div class="row"></div>
        </div>
    </div>
</section>


