@model Umamido.Common.RestaurantPresentationModel
@{
    ViewBag.Title = @Model.FirstTitleNoHtml;
}

<div id="hero">
    <div class="hero-content">
        <div class="container">
            <h1 class="hero-title">@Model.FirstTitleNoHtml</h1>
        </div>
    </div><!-- .hero-content -->
    <div class="hero-image" style="background: url(home/getimage?imageid=@Model.BigImageId); background-size: cover; background-position: center center;"></div>
</div><!-- #hero -->

<div id="content" class="site-content">

    <div id="container">
        <div id="content" role="main">

            <section class="front-page-content rest-descr">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="home/getimage?imageid=@Model.LogoImageId">
                        </div>
                        <div class="col-md-10 belise-page-content rest-text">
                            @Html.Raw(Model.FirstDescription)
                        </div>
                    </div>
                </div>
            </section>

            <div class="categories">
                <div class="container">
                    <div class="row">
                        <div class="categories-menu-toggle">
                            <button class="menu-toggle" aria-controls="categories-menu" aria-expanded="false">@Umamido.Resources.Resources.Restaurants</button>
                        </div>
                        <nav id="categories-menu" class="categories-navigation site-navigation">
                            <div class="menu-shop-menu-container">
                                <ul id="categories-menu" class="menu nav-menu" aria-expanded="false">

                                    @foreach (var r in Model.AllRestaurants)
                                    {
                                        <li restaurantid="@r.RestaurantId">
                                            <a onclick="Restaurant.ShowGoods(@r.RestaurantId);">@r.FirstTitleNoHtml</a>
                                        </li>

                                    }
                                </ul>
                            </div>
                        </nav><!-- .categories -->
                    </div>
                </div>
            </div>
            <div id="primary" class="content-area" style="padding-bottom:0px;">
                <div class="container">
                    <div class="row">
                        <ul class="products" style="position: relative; height: 800px;" id="ulProducts">
                            <li class="product type-product status-publish has-post-thumbnail product_cat-herbs product_cat-kitchen first instock shipping-taxable purchasable product-type-simple" style="position: absolute; left: 0px; top: 0px;">
                                <div class="product-image">
                                    <a href="product.html" title="Рамен 1">
                                        <img width="370" height="270" src="images/rest_umamido_img.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="">
                                    </a>
                                </div>
                                <div class="product-header">
                                    <h3 class="product-title">
                                        <a class="shop-item-title-link" href="product.html" title="Рамен 1">Рамен 1</a>
                                    </h3>
                                    <div class="price">
                                        <span class="woocommerce-Price-amount amount">16.00 <span class="woocommerce-Price-currencySymbol">лв.</span></span>
                                    </div>
                                    <div style="text-align:right;"><a href="#" class="btn add-to-cart"><i class="fa fa-2x fa-cart-plus"></i></a></div>
                                </div>
                            </li>
                            <li class="product type-product status-publish has-post-thumbnail product_cat-ceramic product_cat-kitchen  instock shipping-taxable purchasable product-type-simple" style="position: absolute; left: 413px; top: 0px;">
                                <div class="product-image">
                                    <a href="product.html" title="Рамен 2">
                                        <img width="370" height="270" src="images/rest_umamido_img_1.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="">
                                    </a>
                                </div>
                                <div class="product-header">
                                    <h3 class="product-title">
                                        <a class="shop-item-title-link" href="product.html" title="Рамен 2">Рамен 2</a>
                                    </h3>
                                    <div class="price">
                                        <span class="woocommerce-Price-amount amount">14.00 <span class="woocommerce-Price-currencySymbol">лв.</span></span>
                                    </div>
                                    <div style="text-align:right;"><a href="#" class="btn add-to-cart"><i class="fa fa-2x fa-cart-plus"></i></a></div>
                                </div>
                            </li>
                            <li class="product type-product status-publish has-post-thumbnail product_cat-herbs product_cat-kitchen  instock shipping-taxable purchasable product-type-simple" style="position: absolute; left: 826px; top: 0px;">                                       
                                <div class="product-image">
                                    <a href="product.html" title="Рамен 3">
                                        <img width="370" height="270" src="images/rest_umamido_img_2.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="">
                                    </a>
                                </div>
                                <div class="product-header">
                                    <h3 class="product-title">
                                        <a class="shop-item-title-link" href="product.html" title="Рамен 3">Рамен 3</a>
                                    </h3>
                                    <div class="price">
                                        <span class="woocommerce-Price-amount amount">11.00 <span class="woocommerce-Price-currencySymbol">лв.</span></span>
                                    </div>
                                    <div style="text-align:right;"><a href="#" class="btn add-to-cart"><i class="fa fa-2x fa-cart-plus"></i></a></div>
                                </div>
                            </li>
                            <li class="product type-product status-publish has-post-thumbnail product_cat-ceramic product_cat-kitchen last instock shipping-taxable purchasable product-type-simple" style="position: absolute; left: 0px; top: 407px;">
                                <div class="product-image">
                                    <a href="product.html" title="Рамен 4">
                                        <img width="370" height="270" src="images/rest_umamido_img_3.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="">
                                    </a>
                                </div>
                                <div class="product-header">
                                    <h3 class="product-title">
                                        <a class="shop-item-title-link" href="product.html" title="Рамен 4">Рамен 4</a>
                                    </h3>
                                    <div class="price">
                                        <span class="woocommerce-Price-amount amount">14.00 <span class="woocommerce-Price-currencySymbol">лв.</span></span>
                                    </div>
                                    <div style="text-align:right;"><a href="#" class="btn add-to-cart"><i class="fa fa-2x fa-cart-plus"></i></a></div>
                                </div>
                            </li>
                            <li class="product type-product status-publish has-post-thumbnail product_cat-gifts product_cat-kitchen first instock shipping-taxable purchasable product-type-simple" style="position: absolute; left: 413px; top: 407px;">
                                <div class="product-image">
                                    <a href="product.html" title="Рамен 5">
                                        <img width="370" height="270" src="images/rest_umamido_img_4.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="">
                                    </a>
                                </div>
                                <div class="product-header">
                                    <h3 class="product-title">
                                        <a class="shop-item-title-link" href="product.html" title="Рамен 5">Рамен 5</a>
                                    </h3>
                                    <div class="price">
                                        <span class="woocommerce-Price-amount amount">14.00 <span class="woocommerce-Price-currencySymbol">лв.</span></span>
                                    </div>
                                    <div style="text-align:right;"><a href="#" class="btn add-to-cart"><i class="fa fa-2x fa-cart-plus"></i></a></div>
                                </div>
                            </li>
                            <li class="product type-product status-publish has-post-thumbnail product_cat-gifts product_cat-kitchen  instock shipping-taxable purchasable product-type-simple" style="position: absolute; left: 826px; top: 407px;">
                                <div class="product-image">
                                    <a href="product.html" title="Рамен 6">
                                        <img width="370" height="270" src="images/rest_umamido_img_5.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="">
                                    </a>
                                </div>
                                <div class="product-header">
                                    <h3 class="product-title">
                                        <a class="shop-item-title-link" href="product.html" title="Рамен 6">Рамен 6</a>
                                    </h3>
                                    <div class="price">
                                        <span class="woocommerce-Price-amount amount">12.00 <span class="woocommerce-Price-currencySymbol">лв.</span></span>
                                    </div>
                                    <div style="text-align:right;"><a href="#" class="btn add-to-cart"><i class="fa fa-2x fa-cart-plus"></i></a></div>
                                </div>
                            </li>
                        </ul>


                        <nav class="navigation pagination" role="navigation"></nav>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script>
    var template = '<li class="product type-product status-publish has-post-thumbnail product_cat-gifts product_cat-kitchen  instock shipping-taxable purchasable product-type-simple" style="position: absolute; left: {left}px; top: {top}px;">' +
        '<div class="product-image">' +
        '<a href="{url}" title="{name}">' +
        '   <img width="370" height="270" src="{img}" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="">' +
        '</a>' +
        '</div>' +
        '<div class="product-header">' +
        '   <h3 class="product-title">' +
        '      <a class="shop-item-title-link" href="{url}" title="{name}">{name}</a>' +
        ' </h3>' +
        '<div class="price">' +
        '   <span class="woocommerce-Price-amount amount">{price} <span class="woocommerce-Price-currencySymbol">@Umamido.Resources.Resources.LV</span></span>' +
        '</div>' +
        ' <div style="text-align:right;"><a href="#" class="btn add-to-cart"><i class="fa fa-2x fa-cart-plus"></i></a></div>' +
        ' </div>' +
        '</li>';    
</script>
<script src="~/js/pages/restaurant.js"></script>
<script>
    Restaurant.ShowGoods(@Model.RestaurantId);
</script>